* {
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #046;
  color: white;
}
header {
  padding: 0.5em;
}
main {
  padding: 1em;
}
.search {
  font-size: 1.5em;
  padding: 0.5em;
}
ul {
  position: fixed;
  top: 100px;
  left: 10px;
  list-style-type: none;
  overflow-y: scroll;
  height: 280px;
}
ul li {
  padding: 0.3em 1em;
  height: 3em;
  float: none;
}
li {
  width: 270px;
}
h3.symbol {
  font-family: serif;
  font-size: 2em;
  font-weight: normal;
  float: left;
  background-color: transparent;
  width: 1em;
}
p.name {
  margin-top: 0.2em;
  background-color: transparent;
  float: right;
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
li.selected {
  background-color:#777;
  height: 4.5em; /* 1.5 x default */
}
li.selected p.name {
  white-space: normal;
  overflow : hidden;
  text-overflow: ellipsis;
}
form#cat-filter {
  position: fixed;
  top: 70px;
  overflow-x: scroll;
}
button#quit {
  height: 2em;
  width: 2em;
  padding: 0;
  font-size: 1em;
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  background-color: rgba(0,0,0,0.5);
}
button#quit:hover {
  background-color: rgba(0,0,0,0.8);
  transition: background 0.5s;
}
input#searchbox {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 230px;
  border: none;
  background-color: rgba(0,0,0,0.5);
}
:focus {
  outline: none;
}
input[type="radio"] {
  visibility: hidden;
}
input:checked + label {
  background-color: #08b;
  color: black;
}
label {
  padding: 0em 1em;
}
::-webkit-scrollbar {
  display: none;
}
body {
  -webkit-app-region: drag;
}
form, input, button {
  -webkit-app-region: no-drag;
}
